.container {
    display: flex;
    height: 100vw;
    margin: auto;
    width: 80vw;
}

.menu {
    background-color: red;
    width: 30vw;
}

.content {
    background-color: blue;
    width: 100%;
}
