.FeatureCard--container {
    background-color: #ebebeb;
    margin-bottom: 24px;
}

.FeatureCard--header {
    font-size: 24px;
    background-color: #fcfcfc;
    padding: 6px;
    color: #e94151;
    font-weight: bold;
}

.FeatureCard--description {
    padding: 6px;
}
