.Header--container {
    height: 150px;
    color: #707070;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px 36px;
}
